openapi: 3.1.0
info:
  title: Starbucks Loyalty Status API
  description: Starbucks provides partner APIs for ordering, loyalty program integration, store locations, and menu data. These APIs enable authorized partners to integrate Starbucks ordering, rewards, and store discovery into their applications and services.
  version: '1.0'
  contact:
    name: Starbucks Developer Support
    url: https://developer.starbucks.com/
  termsOfService: https://www.starbucks.com/about-us/company-information/online-policies/terms-of-use
servers:
- url: https://api.starbucks.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Status
  description: API health and status operations
paths:
  /status:
    get:
      operationId: getStatus
      summary: Get API Status
      description: Returns the current health and operational status of the Starbucks API.
      tags:
      - Status
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStatus'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
components:
  schemas:
    ApiStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - degraded
          - maintenance
        version:
          type: string
        timestamp:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Starbucks Developer Portal
  url: https://developer.starbucks.com/
